[project]
	description = node.js mongodb performance monitor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cary Tsai (linux168)
[access "refs/for/refs/*"]
	read = group user/Cary Tsai (linux168)
	push = group user/Cary Tsai (linux168)
	label-Code-Review = -2..+2 group user/Cary Tsai (linux168)
	label-Verified = -1..+1 group user/Cary Tsai (linux168)
	rebase = group user/Cary Tsai (linux168)
	removeReviewer = group user/Cary Tsai (linux168)
	submit = group user/Cary Tsai (linux168)
[access "refs/heads/*"]
	read = group user/Cary Tsai (linux168)
	create = group user/Cary Tsai (linux168)
	push = +force group user/Cary Tsai (linux168)
	pushMerge = group user/Cary Tsai (linux168)
[access "refs/tags/*"]
	push = +force group user/Cary Tsai (linux168)
	pushTag = group user/Cary Tsai (linux168)
	pushSignedTag = group user/Cary Tsai (linux168)
